html {
  background-color: black;
  margin: 0;
  padding: 0;

  margin: 0;
  padding: 0;
  background-image: url("/img/austin0.jpg");

  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.row {
  margin: 0 !important;
}
.sideArea {
  height: 15vh;
}

#c1 {
  height: 30vh;
}

#c2 {
  height: 30vh;
}
#c3 {
  height: 30vh;
}
#bottomPanel {
  height: 10vh;
}
